image:
  tag: latest

ingress:
  main:
    enabled: true
    ingressClassName: "nginx"
    annotations:
      nginx.org/websocket-services: home-assistant
    hosts:
      - host: home-assistant.{{ .Values.domain }}
        paths:
          - path: /

persistence:
  config:
    enabled: true

  dbus:
    enabled: true
    type: hostPath
    hostPath: /run/dbus
    readOnly: true
