ingress:
  main:
    enabled: true
    ingressClassName: "nginx"
    hosts:
      - host: zigbee2mqtt.{{ .Values.domain }}
        paths:
          - path: /

persistence:
  data:
    enabled: true
    accessMode: ReadWriteOnce
    size: 1Gi

config:
  homeassistant: true
  mqtt:
    server: "mqtt://mosquitto"
  serial:
      port: {{ .Values.zigbee.serial }}
      adapter: ezsp
